@font-face {
    font-family: josefin-regular;
    src: url("../../../shared/josefin/JosefinSans-Regular.ttf");
}

.headerContainer {
    padding: 1rem;
    text-decoration: none;
    display: flex;
    position: relative;
    width: 75%;
    margin: 0 auto;
    border: black 0.25rem solid;
    border-top: none;
    font-family: josefin-regular;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
}

.searchBar {
    display: flex;
    border: black 0.25rem solid;
    box-shadow: 0.25rem 0.25rem #000;
    height: fit-content;
    margin: auto 0.5rem;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);;
}

.searchBar:hover {
    box-shadow: 0.25rem 0.25rem #d95d5d;
}

.searchInput {
    border: none;
    outline: none;
    font-size: 1rem;
    font-family: josefin-regular;
    padding: 0.5rem 0 0.5rem 0.5rem;
    background-color: transparent;
}

.searchSubmit {
    margin-left: 0.5rem;
    border: none;
    border-left: #000 0.25rem solid;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 1rem;
    font-family: josefin-regular;
    padding: 1rem;
}

.name {
    display: flex;
    position: relative;
    cursor: default;
    margin: 0 auto;
    z-index: 1;
}

.letter {
    width: 4rem;
    height: 4rem;
    padding: 0.25rem;
    margin: 0.25rem;
    justify-content: center;
    align-items: center;
    display: flex;
    color: white;
    background-color: #d95d5d;
    border: black 0.25rem solid;
    font-weight: bold;
    font-size: 1.25rem;
    box-shadow: 0.25rem 0.25rem black;
    text-shadow: 0.1rem 0.1rem #000;  
    text-decoration: none;
}

.letter:hover {
    animation: 0.5s shiver;
    text-decoration: none;
    text-shadow: 0.1rem 0.1rem #000;  
    color: white;
}

.navTabs {
    display: flex;
    flex: none;
    justify-content: flex-end;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    margin: auto 0.5rem;
}

@keyframes shiver {
    0%, 100% { transform: scale(1, 1); }
    25% { transform: scale(0.9, 1.1); }
    50% { transform: scale(1.1, 0.9); }
    75% { transform: scale(0.95, 1.05); }
}

@media (width <= 1500px) {
    .headerContainer {
        width: 100%;
    }

    .searchBar {
        display: none;
    }

}

@media (width <= 1200px) {
    .headerContainer {
        flex-direction: column;
    }

    .navTabs {
        position: static;
        transform: none;
        margin: 0.5rem 0;
        width: 100%;
        justify-content: center;
    }

    .name {
        justify-content: center;
        width: fit-content;
        max-width: 100%;
        justify-content: center;
        align-items: center;
        text-align: center;
        border: #000 0.25rem solid;
        box-shadow: 0.25rem 0.25rem black;
        margin: auto;
    }

    .letter {
        aspect-ratio: 1;
        height: auto;
        padding: 0;
        margin: 0;
        justify-content: center;
        align-items: center;
        display: flex;
        color: whitesmoke;
        background-color: #e81416;
        border: none;
        font-weight: bold;
        font-size: 1.5rem;
        box-shadow: none;
        text-shadow: 0.1rem 0.1rem #000;  
    }
    
    .letter:hover {
        animation: none;
    }
}

@media (width <= 450px) {

    .navTabs {
        align-items: center;
    }


}