@font-face {
    font-family: josefin-regular;
    src: url("../../../shared/josefin/JosefinSans-Regular.ttf");
}

.polaroidContainer {
    border: black 0.25rem solid;
    box-shadow: 0.25rem 0.25rem black;
    transition: 0.3s;
    font-family: josefin-regular;
    max-height: 100%;
    box-sizing: border-box;
    overflow: hidden;
    width: fit-content;
    height: 100%;
    display: flex;
    background-color: #fff;
}

.polaroid {
    display: flex;
    flex-direction: column;
    text-align: center;
    flex: 1 1 auto;
    padding: 0;
    background-color: #fff;
    margin: 0;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding: 0.5rem;
    box-sizing: border-box;
}

.polaroidLinks {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}

.polaroidName {
    padding: 0.5rem;
    font-family: josefin-regular;
    background-color: #ffdb58;
    border: #e6c44c 0.25rem solid;
    box-shadow: #e6c44c 0.25rem 0.25rem;
    width: fit-content;
    margin: 0 auto 0.5rem auto;
}