@font-face {
    font-family: josefin-bold-italic;
    src: url("../../../shared/josefin/JosefinSans-BoldItalic.ttf");
}

.imageContainer {
    border: black 0.25rem solid;
    border-radius: 0.5%;
    box-shadow: 0.25rem 0.25rem black;
    background-color: #fff;
    text-align: center;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.image {
    max-width: 100%;
    width: 100%;
    flex: 1 1 0;
    object-fit: cover;
    min-height: 0;
}

.description {
    font-size: large;
    font-family: josefin-bold-italic;
    background-color: #F5B6F6;
    margin: 0;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 0 0 auto;
    min-height: 0;
}

.descriptionHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    flex-wrap: wrap;
    
}

.thumbnailTitle {
    font-size: xx-large;
    font-family: josefin-bold-italic;
    margin: auto;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.caption {
    display: flex;
    justify-content: center;
    font-size: medium;
    font-family: josefin-regular;
    text-align: center;
    margin: 0;
    padding-top: 0.5rem;
}